aiodataloader==0.2.1
aiodns==3.0.0
aiohttp==3.7.3

aiohttp-jinja2==1.5
aiohttp-security==0.4.0
aiohttp-session==2.9.0

aiopg==1.1.0
aioredis==1.3.1
aiosignal==1.2.0

anyio==3.6.1
appdirs==1.4.4

async-timeout==3.0.1

beautifulsoup4==4.11.1


Cython==0.29.30
dataclasses-json==0.5.7

docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.18.1
duckdb==0.3.1

filelock==3.7.1
flake8==3.9.2

gunicorn==20.1.0

multidict==6.0.2

psutil==5.9.1
psycopg==3.0.15
psycopg-binary==3.0.15
psycopg2==2.9.3
psycopg2-binary==2.9.3

pyenchant==3.2.2
pyflakes==2.3.1
Pygments==2.7.4
pyhocon==0.3.59
PyInquirer==1.0.3
pyquery==1.4.3
pytest==3.6.4
pytest-aiohttp==0.3.0
pytest-cov==2.9.0
pytest-runner==6.0.0
python-consul==1.1.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-editor==1.0.4
python-multipart==0.0.5
python-tds==1.11.0
pytoml==0.1.21
pytz==2022.1
PyYAML==5.4.1
queuelib==1.6.2
redis==3.5.3
regex==2022.6.2
requests==2.28.0
requests-file==1.5.1
requests-html==0.10.0
responses==0.21.0
retrying==1.3.3
schema==0.7.5
sqlparse==0.4.2
tabulate==0.8.10
tornado==6.2
trafaret==2.1.1
trafaret-config==2.0.2
transformers==4.11.3
typing-inspect==0.7.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
unicodecsv==0.14.1
Unidecode==1.3.4
urllib3==1.25.11
uvicorn==0.18.2
websockets==10.3
yarl==1.7.2
zipp==3.8.0

